.cart-box-main{
  padding: 70px 0px;
}
.table-main thead{
  background: #b0b435 !important;
  color: #ffffff;
}
.table-main .table thead th{
  font-size: 1.2rem;
}
.table-main table td.thumbnail-img{
  width: 120px;
}
.name-pr a{
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.coupon-box .input-group .form-control {
  min-height: 50px;
  border-radius: 0px;
  font-weight: 400;
  border: 1px solid #e8e8e8;
  box-shadow: none !important;
}
.coupon-box .input-group .form-control::-moz-placeholder{
  color: #000000;
}
.coupon-box .input-group .input-group-append .btn-theme {
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  padding: 0px 20px;
}
.coupon-box .input-group .input-group-append .btn-theme:hover {
  background: #b0b435;
}
.update-box input[type="submit"]{
  background: #000000;
  border: medium none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: right;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  width: inherit;
}
.update-box input[type="submit"]:hover{
  background: #b0b435;
}
.order-box h3{
  font-size: 16px;
  color: #222222;
  font-weight: 700;
}
.order-box h4 {
  font-size: 16px;
  padding: 0px;
  line-height: 35px !important;
}
.order-box .font-weight-bold{
  font-size: 18px;
}

.shoppingcartt {
  width: 100vw !important;
}
.table-responsive .table td, .table-responsive .table th {
  vertical-align: middle;
  white-space: nowrap;
}
.quantity-box input{
  width: 60px;
  border: 2px solid #000000;
  text-align: center;
}
.quantity-box input:focus{
  border-color: #b0b435;
}
.order-box h3{
  font-size: 16px;
  color: #222222;
  font-weight: 700;
}
.order-box h4 {
  font-size: 16px;
  padding: 0px;
  line-height: 35px !important;
}
.order-box .font-weight-bold{
  font-size: 18px;
}
.gr-total h5 {
  font-weight: 700;
  color: #b0b435;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  line-height: 35px !important;
}
.gr-total .h5{
  margin: 0px;
  font-weight: 700;
  line-height: 35px;
}
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  font-family: "Poppins", Arial, sans-serif; 
}
.shopping-box a{
  font-size: 18px;
  color: #0a0a0a;
  border: none;
  padding: 10px 20px;
}
.hvr-hover{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #b0b435;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0;
  box-shadow: none;
}
.hvr-hover::after {
 content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #000000;
border-radius: 100%;
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-hover:hover::after{
  -webkit-transform: scale(2);
transform: scale(2);
  color: #ffffff;
}
.hvr-hover{
overflow: hidden;
}
/* 
.title h4 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #343a40;

}

.cartcrd {
  background-color: #fff;
  padding: 15px;
}

.cartcrd img {
  width: 15vw;
  height: 25vh;
  border-radius: 5px;
}

.cartname {
  padding-left: 15px;
  margin-left: 13.1rem;
  font-size: 1.2rem;
}

.quantity-controls button {
  font-size: 16px;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: -6rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}

.quantity-controls button:hover {
  background-color: #adb5bd;
  border-color: #adb5bd;
  color: #212529;
}

.quantity-display {
  background-color: #f8f9fa;
  padding: 5px 10px;
  border-radius: 3px;
}

.pricediv {
  font-weight: bold;
  margin-top: -1.8rem;
  margin-left: 5rem;
}

.rmvbtn {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  width: 20% !important;
  margin-left: 35rem;
  margin-top: -5rem !important;
}

.rmvbtn:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}

.summary {
  padding-left: 20px;
  margin-top: 3rem !important;
}

.total-price {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.checkout-btn {
  padding: 10px 20px;
  border-radius: 5px;
}

.checkout-btn:hover {
  background-color: #0069d9;
}

.promo {
  margin-top: 1rem;
}




@media (max-width: 767px) {
  .promo {
    margin-top: 1rem;

  }

  #shopcart {
    padding: 10px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
  }
  .carimg {
    height: 20vh !important;
    width: 40vw !important;
    border-radius: 5px;
  }

  .shoppingcartt {
    padding: 20px;
    width: 90vw !important;
  }

  .title h4 {
    font-size: 18px;
  }

  .cartcrd {
    padding: 10px;
  }

  .cartname {
    margin-left: 10rem;
    margin-top: 1rem !important;
    font-size: 1rem;
  }

  .quantity-controls {
    margin-left: 6rem;
  }

  .quantity-controls button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
    padding: 3px 8px;
    margin-right: 0.3rem;
  }

  .quantity-display {
    padding: 3px 8px;
  }

  .pricediv {
    margin-top: 2rem;
    margin-left: -2rem;
  }

  .rmvbtn {
    font-size: 14px;
    padding: 3px 8px;
    width: auto !important;
    margin-left: 14rem;
    margin-top: 1rem !important;
  }

  .summary {
    padding: 15px;
    width: 80vw !important;
    margin-left: 1rem;
    margin-top: 1.5rem !important;
  }
  .form-select {
    margin-bottom: 1rem;
  }
} */
