.cart-box-main{
    padding: 170px 0px;
}

.order-box h3{
    font-size: 16px;
    color: #222222;
    font-weight: 700;
}
.order-box h4 {
    font-size: 16px;
    padding: 0px;
    line-height: 35px !important;
}
.order-box .font-weight-bold{
    font-size: 18px;
}
.payment-icon {
    display: inline-block;
    padding: 10px 0px;
}
.payment-icon ul li {
    width: 20%;
    float: left;
}
.needs-validation label {
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 24px;
}
.needs-validation .form-control {
    min-height: 40px;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    box-shadow: none !important;
    font-size: 14px;
}
.needs-validation .form-control:focus {
    border: 1px solid #b0b435 !important;
}
.review-form-box .form-control{
    min-height: 40px;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    box-shadow: none !important;
    font-size: 14px;
}






.theads {
    text-align: left;
}
  
.theads th, .theads td {
    padding: 12px;
    border: 1px solid #ddd;
}
  
.theads th {
    background-color: #f2f2f2;
}

.checkoutform {
margin-top: 8rem;
margin-bottom: 10rem;
margin-left: auto;
margin-right: auto;   
width: 65%;
background-color: #ffffff;
/* border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 0 30px rgba(1, 1, 0.5, 0.1); */

}

.delidiv {
    margin-top: 2rem;
}

.cart-container {
padding: 20px;
border-radius: 5px;
}
.deliveryfrm {
    margin-top: 1rem !important;
}

.cartfrm {
    width: 45%;
    float: right;
    margin-top: -35rem;
    
}

.cartnme {
    margin-bottom: 1rem;
}

.form-check {
margin-bottom: 10px;
}

.badge-primary {
background-color: #007bff;
}

.forminpt {
    border: 1px;
    border-style: solid !important;
}

@media (max-width: 767px) {
.col-md-4 {
    margin-bottom: 20px;
}

.cart-container {
    padding: 10px;
}

.cartfrm {
    font-size: 1rem;
}

.btn-primary {
    width: 100%;
}
}

.Ototal-price {     
    font-weight: 800;
    font-size: 25px;
    
 }
 


  
  